@import "../../../../../colors.scss";
.color {
  padding: 3px;

  .color-number {
    margin: 0;
    text-align: center;
    font-size: 12px;
  }

  .selected {
    border: 3px solid $accent-green;
  }

}