<div class="container textile-color-select">
  <div class="row">
    <div class="col-5">
      <img [src]="selectedColor.url" />
    </div>
    <div class="col-7">
      <div class="row">
        <div *ngFor="let color of textile.samples" (click)="onSelect(color)"
          class="color col-4 col-md-2 hoverable {{selectedColor === color ? 'selected' : ''}}">
          <img [src]="color.url" />
          <p class="color-number">{{ color.title }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
