<div class="container product-box">
  <div class="row">
    <div class="col-3">
      <img *ngIf="order && order.product" src="{{order.product.images[0]}}" />
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-10">
          <h1 *ngIf="order && order.product">{{order.product.name}}</h1>
        </div>
        <div class="col-2">
          <p *ngIf="order && order.product">{{order.product.price}} zł</p>
        </div>
      </div>
      <hr />

      <div *ngIf="order && order.textile && order.textileColor">
        <h3>Wybrana tkanina: </h3>
        <div class="row">
          <div class="col-10">
            <p class="no-margin">{{order.textile.name}} - {{order.textileColor.id}} </p>
          </div>
          <div class="col-2">
            <p class="no-margin">{{order.textile.additionalPayment}} zł</p>
          </div>
        </div>
        <hr />
      </div>

      <div *ngIf="order && order.additions && order.additions.length" class="additions">
        <h3>Dodatki: </h3>
        <ul>
          <li *ngFor="let addition of order.additions">
            <div class="row">
              <div class="col-10">
                <p class="no-margin"> {{addition.name}} </p>
              </div>
              <div class="col-2">
                <p class="no-margin">{{addition.price}} zł</p>
              </div>
            </div>
          </li>
        </ul>
        <hr />
      </div>

      <div *ngIf="order && order.delivery">
        <h3>Koszt transportu: </h3>
        <div class="row">
          <div class="col-10">
            <p class="no-margin">transport od {{order.delivery.from}}km do {{order.delivery.to}}km</p>
          </div>
          <div class="col-2">
            <p class="no-margin">{{order.delivery.price}} zł</p>
          </div>
        </div>
        <hr />
      </div>


    </div>
  </div>
</div>
