<app-page-title [title]="'Zakupy na raty'"></app-page-title>

<div class="container">
  <p>
    Istnieje możliwość zakupu na raty.
  </p>
  <p>
    Skontaktuj się z nami. Możesz sprawdzić wysokość raty na <a href="https://www.platformaratalna.pl/kalkulator,1802"
      rel="nofollow">www.platformaratalna.pl/kalkulator</a>
  </p>
</div>