a {
  display: block;
  text-decoration: none;
  border: solid 1px transparent;

  &:hover {
    border: solid 1px rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.01);
  }

  img {
    min-height: 100px;
    width: 100%;
    padding: 5px;
  }

  h2 {
    text-align: center;
  }
}
