<div class="section">
  <div class="container">
    <div class="row">
      <h1>Poznaj nasze <strong>meble</strong></h1>
    </div>
    <nav class="row">
      <div *ngFor="let category of categories" class="col-6 col-md-3">
        <a [routerLink]="[category.seo_url]">
          <img src="{{category.photo}}" alt="{{category.name}}" />
          <h2>{{category.name}}</h2>
        </a>
      </div>
    </nav>
  </div>
</div>