<div class="header">
  <div class="container d-md-flex">
    <h1>{{title}}</h1>
    <div class="breadcrumbs" *ngIf="breadcrumbs">
      <a [routerLink]="['/']"><i class="material-icons">home</i></a>
      <span *ngFor="let breadcrumb of breadcrumbs"> > <a [routerLink]="[breadcrumb.url]">{{breadcrumb.name}}</a></span>
    </div>
  </div>
</div>