

.header {
  margin-top: 20px;
  margin-bottom: 30px;
  background: #222;
  color: #fff;


  .container {
    align-items: center;
    padding: 10px;


    a, a:visited, a:hover, a:active {
      color: inherit;
      text-decoration: none;
    }

    h1 {
      font-family: "Advent Pro";
      text-align: left;
      font-weight: 300;
      font-size: 40px;
      color: #fff;
      margin: 0;
    }

    .breadcrumbs {
      font-size: 14px;
      text-align: right;
      flex:1;

      .material-icons {
        font-size:16px;
      }
    }
  }
}

