<!-- <app-baner></app-baner> -->
<app-slogan></app-slogan>

<div class="space-30"></div>
<app-categories id="fornitures"></app-categories>


<div class="space-30"></div>
<app-recommended id="recommended"></app-recommended>

<div class="space-30"></div>
<app-introduction></app-introduction>

<div class="space-30"></div>
<app-contact-form id="contact-form"></app-contact-form>