<div *ngIf="product">
  <app-page-title [title]="'Twoje zamówienie - wybierz tkaninę'"></app-page-title>
  <app-order-steps [currentStep]="currentStep"></app-order-steps>
  <app-order-current-product></app-order-current-product>

  <app-textile-select *ngIf="currentStep === 2"></app-textile-select>

  <app-additions-select *ngIf="currentStep === 3" [additions]="product.additions"></app-additions-select>

  <app-delivery *ngIf="currentStep === 4"></app-delivery>

  <app-personal-data *ngIf="currentStep === 5"></app-personal-data>

  <app-order-buttons></app-order-buttons>

</div>