@import "../../../../colors.scss";


#sticky-plug {
  display: block;
  height: 146px;
}

#progress-bar {
  display: block;
  height: 2px;
  background: $accent-red;
  width: 0px;
  transition: 1s;
}


.navigation {
  background: #ffffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  header {
    display: flex;

    .logo {
      margin: 20px;
      height: 100px;
      transition: 0.2s;
    }
    .menu {
      flex: 1;
    }
  }

  &.sticky {
    background: #ffffffee;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08);
    header {
      .logo {
        height: 50px;
        margin: 5px;
      }
    }

  }
}



