<div id="sticky-plug"></div>
<div class="navigation animated fadeInDown" id="navbar" (resized)="onResized($event)">
  <header>
    <a routerLink="/"><img class="logo" src="assets/images/logo.svg"
        alt="Janiak Meble - Producent mebli tapicerowanych" /></a>
    <app-menu class="menu"></app-menu>

  </header>
  <div id="progress-bar"></div>
</div>