<div class="container">
  <div class="row">
    <div class="col-6 d-grid">
      <button (click)="prev()" class="btn">Wróć</button>
    </div>
    <div class="col-6 d-grid">
      <button (click)="next()" class="btn primary">Dalej</button>
    </div>
  </div>
</div>