@import "../../../../../colors.scss";

.menu {
  float: right;
  margin: 20px;
  a {
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: $font-color;
    font-size: 13px;
    color: #111;
    &:hover {
      color: $primary-color;
    }
    // &:after {
    //   content: "";
    //   position: absolute;
    //   display: block;
    //   height: 1px;
    //   width: 50px;
    //   bottom: 0px;
    //   left: 50%;
    //   background: $primary-color;
    // }
  }
}
