<app-page-title [title]="'Warunki gwarancji'"></app-page-title>

<div class="container">
  <p>
    Na każdy sprzedawany przez nas mebel obowiązują <strong>dwa lata gwarancji</strong>.
  </p>
  <p>
    W razie pytań prosimy o kontakt.
  </p>
</div>