<div id="photo-preview">
    <img src="{{images.photos[images.index]}}" />
    <p *ngIf="images.photos.length > 1">
        {{images.index + 1}} / {{images.photos.length}}
    </p>

    <div id="buttons-panel">
        <div class="photo-preview-button {{canMovePrev(images.index) ? 'can-move' : ''}}" id="prev-photo"
            (click)="movePrev()">
            &lt; </div>
        <div class="photo-preview-button {{canMoveNext(images.index) ? 'can-move' : ''}}" id="next-photo"
            (click)="moveNext()">
            &gt;
        </div>
    </div>
</div>