#photo-preview {
    position: relative;

    #buttons-panel {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;

        .photo-preview-button {
            flex: 1;
            display: grid;

            border:none;
            box-shadow: none;

            text-align: center;
            align-items: center;
            color: transparent;
            font-size: 60px;
            user-select: none;


             &:hover {
                 &.can-move {
                color: blanchedalmond;
                 background:#00000011;
                 }
             }


        }
    }
}