<div class="container">
  <h2>Wybierz dodatki: </h2>
  <div *ngFor="let addition of additions" class="row hoverable">
    <div class="col-2">
      <img src="{{addition.image}}" />
    </div>
    <div class="col-7">
      <h3>
        {{addition.name}}
      </h3>
      <p>
        {{addition.description}}
      </p>
    </div>
    <div class="col-3 d-flex">
      <button *ngIf="!isNowSelected(addition)" (click)="addAddition(addition)" class="btn">dodaj
        (+{{addition.price}}zł)</button>
      <button *ngIf="isNowSelected(addition)" (click)="removeAddition(addition)" class="btn">usuń z zamówienia</button>
    </div>
  </div>
</div>
