<div class="steps">
  <div *ngFor="let step of steps, let i = index" class="step">
    <div class="number {{getClass(i)}}">
      <p>{{i + 1}}</p>
    </div>

    <p class="text {{getClass(i)}}">{{step}}</p>
  </div>
</div>
