@import "../../../../colors.scss";
@import "../../../../responsive.scss";

.steps {
  display: flex;
  margin: 40px 0;

  .step {
    flex: 1;
    text-align: center;

    .number {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 20px auto;

      p {
        display: grid;
        align-items: center;

        color: #333;
        font-family: "Advent Pro";
        font-weight: 700;
        font-size: 16px;
        text-align: center;

        width: 30px;
        height: 30px;
        margin: 0;
        border: 3px solid #333;
        border-radius: 100%;
        background: #fff;

        @include respond-to("small") {
          font-size: 20px;
          width: 40px;
          height: 40px;
        }

        @include respond-to("medium") {
          font-size: 30px;
          width: 60px;
          height: 60px;
        }
      }

      &.done {
        p {
          background: $accent-green;
          border-color: $accent-green;
          color: #fff;
        }

        &:before {
          background-color: $accent-green;
        }

        &:after {
          background-color: $accent-green;
        }
      }

      &.current {
        p {
          background-color: #333;
          border-color: #333;
          color: #fff;
        }
      }

      &:after,
      &:before {
        content: "";
        height: 5px;
        flex: 1;
        background: #333;
      }
    }

    .text {
      font-family: "Advent Pro";
      font-size: 14px;
      &.done {
        color: $accent-green;
      }

      @include respond-to("small") {
        font-size: 16px;
      }

      @include respond-to("medium") {
        font-size: 20px;
      }
    }

    &:first-of-type {
      .number {
        &:before {
          background: transparent;
        }
      }
    }

    &:last-of-type {
      .number {
        &:after {
          background: transparent;
        }
      }
    }
  }
}
