@import "../../../../colors.scss";
@import "../../../../responsive.scss";

a {
  text-decoration: none;
}

.box {
  border: 2px solid #222;
  border-radius: 5px;
  text-align: center;
  width: 80%;
  margin-top: 20px;
  margin: 0 auto;
  cursor: pointer;
  display: flex;

  &:hover {
    .order {
      background: #eee;
    }
  }

  .order {
    background: #fff;
    color: #222;
    padding: 20px 10px;
    margin: 0;
    font-size: 16px;
    flex: 1;

    @include respond-to("small") {
      font-size: 20px;
    }

    @include respond-to("medium") {
      font-size: 30px;
    }
  }

  .price {
    padding: 20px 10px;
    margin: 0;
    background: #222;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    flex: 1;

    @include respond-to("small") {
      font-size: 20px;
    }

    @include respond-to("medium") {
      font-size: 30px;
    }
  }
}
