<!-- <a [routerLink]="['/zamowienie', product.seoUrl]"> -->
<a (click)="showOrderDialog()">
  <div class="box">
    <p class="price" *ngIf="product.price > 0"> od {{product.price}} zł</p>
    <p class="price" *ngIf="product.price === 0"> zapytaj o cenę</p>
    <p class="order">Zamów <strong>teraz</strong></p>
  </div>
</a>