<div *ngIf="data">
  <h1>Wiadomość wysłana</h1>
  <img src="assets/images/send.svg">
</div>

<div *ngIf="!data">
  <h1>Nie udało się wysłać wiadomośći.</h1>
  <h2>Spróbuj później.</h2>
  <img src="assets/images/error.svg">
</div>