<div class="section">
  <div class="container">
    <div class="row">
      <div class="row-12">
        <h1><strong>Dlaczego</strong> my?</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div *ngFor="let box of boxes" class="col-12 col-md-3">
        <app-introduction-box [header]="box.header" [description]="box.description" [icon]="box.icon" [url]="box.url">
        </app-introduction-box>
      </div>
    </div>
  </div>
</div>