<div class="section">
  <div class="container">
    <div class="row">
      <h1>Sprawdź <strong>nasze propozycje </strong></h1>
    </div>
    <div class="row">
      <div *ngFor="let product of products" class="col-12 col-md-6 col-lg-4">
        <app-product-box [product]="product"></app-product-box>
      </div>
    </div>
  </div>
</div>