<div *ngIf="product">
	<app-page-title [title]="product.category.prefix + ' ' + product.name" [breadcrumbs]="breadcrumbs"></app-page-title>

	<app-photo-gallery [images]="product.images"></app-photo-gallery>

	<!--<app-order-steps [currentStep]="1"></app-order-steps> -->

	<app-buy-box [product]="product"></app-buy-box>

	<app-product-specyfication [product]="product"></app-product-specyfication>

	<!-- tymczasowo zanim będą zrobione zamówienia -->
	<div class="container">
		<h2 class="center">Produkt dostępny w tkaninach</h2>
		<app-textile-select></app-textile-select>
	</div>

	<app-product-information-boxes></app-product-information-boxes>
</div>