@import "../../../../responsive.scss";
.container {
  min-height: 420px;
  .gallery {
    min-height: 740px;
    display: grid;
    grid-template-areas:
      "current current"
      "photo-1 photo-2"
      "photo-3 photo-4"
      "more-photos-btn more-photos-btn";

    img {
      max-width: 100%;
    }

    .photo {
      padding: 3px;
    }

    .current-photo {
      grid-area: current;
      min-width: 100%;
    }

    .photo-1 {
      grid-area: photo-1;
    }

    .photo-2 {
      grid-area: photo-2;
    }

    .photo-3 {
      grid-area: photo-3;
    }

    .photo-4 {
      grid-area: photo-4;
    }

    .more-photos-btn {
      grid-area: more-photos-btn;
      text-align: center;
    }

    @include respond-to("small") {
      min-height: 650px;
      grid-template-areas:
        "current current current current"
        "photo-1 photo-2 photo-3 photo-4"
        "more-photos-btn more-photos-btn more-photos-btn more-photos-btn";

      .more-photos-btn {
        text-align: right;
      }

     }

    @include respond-to("medium") {
      min-height: 420px;

      grid-template-areas:
        "photo-1 current current photo-2"
        "photo-3 current current photo-4"
        "more-photos-btn more-photos-btn more-photos-btn more-photos-btn";

      .more-photos-btn {
        text-align: right;
      }


    }
  }
}
