<div class="container">
  <div class="gallery">
    <img (click)="showPrewiew(0)" class="photo current-photo hoverable" src="{{images[0]}}" />
    <img (click)="showPrewiew(1)" class="photo photo-1 hoverable" src="{{images[1]}}" />
    <img (click)="showPrewiew(2)" class="photo photo-2 hoverable" src="{{images[2]}}" />
    <img (click)="showPrewiew(3)" class="photo photo-3 hoverable" src="{{images[3]}}" />
    <img (click)="showPrewiew(4)" class="photo photo-4 hoverable" src="{{images[4]}}" />
  </div>
</div>