<app-page-title [title]="'Transport'"></app-page-title>

<div class="container">
  <p>
    Oblicz koszy transportu wpisując swój adres. Koszt transportu liczony jest od miejscowości <b>Twardogóra
      (56-416)</b>
  </p>
  <app-delivery></app-delivery>

  <p>
    Istnieje także możliwość odbioru mebli własnym transportem z siedziby naszej firmy.
  </p>
  <p>
    OFERUJEMY WŁASNY TRANSPORT CO GWARANTUJE PAŃSTWU BEZPROBLEMOWĄ I TERMINOWĄ PRZESYŁKĘ.
  </p>
  <p>
    PRZED PLANOWANĄ DOSTAWĄ UMAWIAMY SIĘ NA KONKRETNY DZIEŃ I GODZINĘ DOSTAWY. NA TEN CZAS NALEŻY WE WŁASNYM ZAKRESIE
    ZORGANIZOWAĆ OSOBY DO WNIESIENIA MEBLI DO MIESZKANIA.
  </p>
  <p>
    NASZ KIEROWCA JEST UPOWAŻNIONY DO ROZLICZEŃ Z KLIENTAMI ZA DOSTARCZONY TOWAR.
  </p>
  <p>
    ZE WZGLĘDÓW BEZPIECZEŃSTWA, NIE POMAGA PRZY WNOSZENIU MEBLI, ABY NIE BYŁ NARAŻONY NA DODATKOWE ZMĘCZENIE. LICZYMY NA
    PAŃSTWA WYROZUMIAŁOŚĆ :)
  </p>
</div>