@import '../../../../colors.scss';
@import '../../../../responsive.scss';

.tabs {
  display:block;
  margin-bottom: 10px;

  @include respond-to("small") {
    display: flex;
  }

  .tab {
    flex: 1;
    text-align: center;


    .textile-name {
      font-size: 20px;
      margin: 0;
    }

    .additional-payment {
      color: $accent-green;
      font-size: 16px;
      margin: 3px;

      &.expensive {
        &:before {
          content:'+';
        }
      }
    }

    &.selected {
      border-bottom: 3px solid $accent-green;
      font-weight: 600;
    }
  }
}
