<div class="container">
  <!-- <mat-tab-group mat-align-tabs="center" animationDuration="300ms" dynamicHeight>
    <mat-tab *ngFor="let textile of textilies" label="{{textile.name}}">
      <ng-template matTabContent>
        <app-textile-color-select [textile]="textile"></app-textile-color-select>
      </ng-template>
    </mat-tab>
  </mat-tab-group> -->

  <div class="tabs">
    <div *ngFor="let textile of textilies" class="tab hoverable {{textile === selectedTab ? 'selected' : ''}}"
      (click)="selectTab(textile)">
      <p class="textile-name">{{textile.name}}</p>
    </div>
  </div>
  <div *ngIf=" selectedTab" class="tab-content">
    <app-textile-color-select [textile]="selectedTab" (colorSelect)="colorSelect($event)"></app-textile-color-select>
  </div>
</div>