<div class="page" (scroll)="onWindowScroll($event)">

    <app-header> </app-header>

    <div class="page-content">
        <router-outlet></router-outlet>
    </div>

    <app-footer class="page-footer"></app-footer>
</div>