@import "../../../../colors.scss";


.specyfication {
  background: #f7f8fa;
  padding: 60px 0;
  margin: 20px 0;

  p {
    text-align: justify;
  }

  h2 {
    font-family: "Advent Pro";
    font-weight: 600;
    font-size: 40px;

    &::first-letter {
      color: $accent-red;
    }
  }

  h3 {
    font-family: "Advent Pro";
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 10px 0;

    &:before {
      content: "----------- ";
    }

    &:after {
      content: " -----------";
    }
  }

  h4 {
    font-size: 21px;
    font-weight: 600;
    margin-top: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}
