<div class="specyfication">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5">

        <h2>{{product.name}}</h2>
        <h3>Opis</h3>
        <p>{{product.description}}</p>

        <h3>Wymiary</h3>
        <ul>
          <li *ngFor="let dimension of sizes">
            <strong>{{dimension.key}}: </strong>{{dimension.value}} cm
          </li>
        </ul>

        <h3>Specyfikacja</h3>
        <ul>
          <li *ngFor="let parameter of parameters">
            <strong>{{parameter.key}}: </strong>{{parameter.value}}
          </li>
        </ul>

      </div>
      <div class="col-0 col-md-2"></div>
      <div class="col-12 col-md-5">
        <h3>Cechy</h3>
        <ul>
          <li *ngFor="let feature of attributes">
            <h4>{{feature}}</h4>
            <!-- <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla animi labore rem ex, alias sunt hic
              error illum, ipsam, sit suscipit accusantium. Pariatur, amet? Necessitatibus asperiores id amet non
              sequi!
            </p> -->
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>