@import "../../../../colors.scss";
@import "../../../../responsive.scss";

a {
  text-decoration: none;
}

.box {
  margin: 20px;
  display: block;
  min-height: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  transition-duration: 0.2s;

  @include respond-to("small") {
    min-height: 270px;
  }

  @include respond-to("medium") {
    min-height: 330px;
  }

  &:hover {
    box-shadow: 5px -5px 0px -1px $accent-red, -5px 8px 21px -1px rgba(150, 150, 150, 0.23);
  }

  .image {
    min-height: 22a0px;
    img {
      max-width: 100%;

    }
  }

  .text {
    flex: 1;
    display: flex;
    align-items: baseline;
    padding: 5px 20px;
    font-weight: 400;
    font-family: "Ubuntu";

    .name {
      flex: 1;
      text-transform: uppercase;
    }

    .price {
      color: $accent-red;
      text-align: right;
      margin: 0;
      font-size: 14px;

      margin-bottom: 10px;
    }
  }
}
