<a [routerLink]="[product.seoUrl]">
  <div class="box">
    <div class="image">
      <img src="{{product.img}}" alt="{{product.name}}" />
    </div>

    <div class="text">
      <h2 class="name">{{product.name}}</h2>
      <p *ngIf="product.price > 0" class="price">od {{product.price}} zł</p>
      <p *ngIf="product.price === 0" class="price">zapytaj o cenę</p>
    </div>
  </div>
</a>
