.container {
  display: flex;
  flex-direction: column;
  padding: 10px;

  img {
    max-width: 50%;
    margin: 0 auto;
  }
  h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
  }

  p {
    text-align: center;
    margin: 0 0 10px;
  }
}
