footer {
  padding: 20px;
  background-color: #111;
  color: #919191;
  box-shadow: 0px -20px 40px 0px rgba(0, 0, 0, 0.1);

  h1 {
    color: #eee;
  }

  a {
    color: #919191;
    text-decoration: none;

    &:hover {
      color: #eee;
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  .contact {
    p {
      display: flex;
      margin: 5px 0;

      i {
        margin-right: 5px;
      }
    }
  }
}

.signs {
  background: #111;

  * {
    color: black;
  }
}
