<footer>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h1>Strony</h1>
        <ul>
          <li>
            <a href="#fornitures">Meble</a>
          </li>
          <li>
            <a [routerLink]="'/transport'">Transport</a>
          </li>
          <li>
            <a [routerLink]="'/zakupy-na-raty'">Zakupy na raty</a>
          </li>
          <li>
            <a [routerLink]="'/gwarancja'">Gwarancja</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3">
        <h1>
          Techniczne
        </h1>
        <ul>
          <li>
            <a href="/assets/instrukcja_montazu.pdf">Instrukcja montażu</a>
          </li>
        </ul>

      </div>
      <div class="col-12 col-md-3">
        <h1>
          Społeczności
        </h1>
        <ul>
          <li>
            <a href="https://www.facebook.com/JaniakMeble">facebook</a>
          </li>
        </ul>
      </div>
      <div class="col-12 col-md-3 contact">
        <h1>Pozostańmy w kontakcie</h1>
        <p><strong>Janiak Meble</strong></p>
        <p>Moszyce 23B</p>
        <p>56-416 Twardogóra</p>
        <a href="tel:+48695532980">
          <p><i class="material-icons">contact_phone</i> 695 532 980 </p>
        </a>
        <a href="mailto:biuro@janiakmeble.pl">
          <p><i class="material-icons">contact_mail</i> biuro@janiakmeble.pl</p>
        </a>
      </div>
    </div>
  </div>

</footer>
<div class="signs">
  <div>Icons made by <a href="https://www.freepik.com/" title="Freepik" rel="nofolow">Freepik</a> from <a
      href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a
      href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank"
      rel="nofolow">CC 3.0 BY</a>
  </div>
  <span>AaronRose</span>
</div>