<div class="container">
  <div class="row bottom-panel">
    <a class="col-6 col-md-3 no-color hoverable" [routerLink]="'/gwarancja'">
      <h2>2 lata gwarancji</h2>
      <img src="/assets/images/guarantee.svg" alt="gwarancja" />
      <p>Na każdy nasz produkt udzielamy dwóch lat gwarancji. Sprawdź warunki gwarancji.</p>
    </a>
    <div class="col-6 col-md-3">
      <div class="hoverable">
        <h2>Na wymiar</h2>
        <img src="/assets/images/graphic-design.svg" alt="na wymiar" />
        <p>Wykonujemy też meble na wymiar. Zapytaj o tę opcję naszego konsultanta podczas zamówienia.</p>

      </div>
    </div>
    <a class="col-6 col-md-3 no-color hoverable" [routerLink]="'/transport'">
      <h2>Transport</h2>
      <img src="/assets/images/delivery-truck.svg" alt="koszt transportu" />
      <p>Dysponujemy własnym transportem. Cena transportu uzależniona jest od odległości od naszej siedziby i
        waha
        się od 50 do 250 zł. Sprawdź szczegóły tutaj.</p>

    </a>
    <div class="col-6 col-md-3">
      <div class="hoverable">
        <h2>Czas realizacji</h2>
        <img src="/assets/images/event.svg" alt="realizacja" />
        <p>Czas realizacji w głównej mierze jest uzależniony od miejsca dostawy i planowanej trasy w ten region.
          Staramy się jak najszybciej dostarczyć Państwa zamówienia a maksymalny czas oczekiwania wynosi 21 dni.
        </p>
      </div>
    </div>
  </div>