@import "../../../../colors.scss";
@import "../../../../responsive.scss";

.bottom-panel {
  margin-top: 30px;
  text-align: center;

  h2 {
    font-family: "Advent Pro";
    font-weight: 600;
    font-size: 20px;

    @include respond-to("small") {
      font-size: 30px;
    }
    @include respond-to("medium") {
      font-size: 35px;
    }

    &::first-letter {
      color: $accent-red;
    }
  }

  img {
    max-width: 40%;
  }
}
