@import "../../../../colors.scss";
@import "../../../../shared.scss";

.slogan-section {
  background: #222;
  padding: 50px 0;

  h1 {
    font-family: "Advent Pro";
    max-width: 70%;
    margin: 0 auto;
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    color: #fff;

    @include media-breakpoint-up(md) {
      font-size: 42px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 52px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 82px;
    }

    strong {
      color: $accent-color;
      font-weight: 700;

      &:hover {
        border-bottom: 5px solid $accent-color;
      }
    }
  }

  h2 {
    font-weight: 200;
    font-size: 24px;
    text-align: center;
  }

  hr {
    width: 80%;
    margin: 20px auto;
    border: 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #fff;
  }
}
