<form [formGroup]="personalDataForm" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <label>
          Imię:
          <input type="text" formControlName="firstName">
        </label>
      </div>
      <div class="col-12"> <label>
          Nazwisko:
          <input type="text" formControlName="lastName">
        </label>
      </div>
      <div class="col-6">
        <label>
          Adres email:
          <input type="text" formControlName="emailAdress">
        </label>
      </div>
      <div class="col-6">
        <label>
          Numer telefonu:
          <input type="text" formControlName="phoneNumber">
        </label>
      </div>

      <div class="col-12">
        <button type="submit">wyślij</button>
      </div>
    </div>
  </div>
</form>