<app-page-title [title]="title"></app-page-title>
<div class="container">

</div>
<div class="container">
  <div class="row categories">
    <div *ngFor="let product of products" class="col-12 col-md-6 col-lg-4">
      <app-product-box [product]="product"></app-product-box>
    </div>
  </div>
</div>
