.container {
  margin: 20px auto;
}

.submit-section {
  padding:5px;
  align-items: flex-start;

  .rodo {
    margin: 0 10px 10px 20px;
    color: brown;
    font-size: 0.8em;
    text-align: justify;
  }

  .btn {
      margin: 0 auto;
      width: 200px;
  }
}
