<div class="section">
  <div class="container">
    <div class="row">
      <h1>Masz jakieś pytania? <strong>Skontaktuj się z nami</strong></h1>
    </div>
  </div>

  <form class="container" (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="row">
      <div class="col-12 col-md-4">
        <input type="text" placeholder="Imię" [(ngModel)]="form.name" name="name" />
      </div>
      <div class="col-12 col-md-4">
        <input type="email" placeholder="Adres e-mail" [(ngModel)]="form.email" name="email" required />
      </div>
      <div class="col-12 col-md-4">
        <input type="text" placeholder="Numer telefonu (opcjonalnie)" [(ngModel)]="form.phone" name="phone" />
      </div>
      <div class="col-12">
        <textarea type="text" placeholder="Wiadomość" rows="10" [(ngModel)]="form.message" name="message"
          required></textarea>
      </div>
      <div class="col-12 d-flex submit-section">
        <p class="rodo">
          Administratorem danych osobowych jest firma <strong>Janiak Meble z siedzibą w Moszyce 23B 56-416
            Twardogóra</strong>. Dane wpisane w formularzu kontaktowym będą przetwarzane <strong>jedynie w celu
            udzielenia
            odpowiedzi na przesłane zapytanie</strong> i nie są udostępniane podmiotom trzecim. Dane <strong>nie
            będą</strong> wykorzystywane w celach marketingowych.
        </p>

        <button type="submit" class="btn primary" type="submit" [disabled]="!contactForm.form.valid">Wyślij</button>
      </div>
    </div>

  </form>
</div>