.button {
  display: block;
  padding: 10px 20px;
  background: transparent;
  border-color: $primary-color;
  color: $font-color;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: pointer;

  &.primary-button {
    background: $primary-color;
    border-color: $primary-color;
    color: #fff;

    &:hover {
      box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
      background: transparent;
      color: $primary-color;
    }
  }
}

.btn {
  margin: 20px auto;
  border: 1px solid #353535;
  background: #fff;
  color: #353535;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

  &:hover {
    border: 1px solid transparent;
    color: #fff;
    background: #111;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.15);
  }

  &.primary {
    color: #fff;
    background: #111;
    border: 1px solid transparent;
    &:hover {
      background: #fff;
      color: #111;
      border: 1px solid #111;
    }
  }
}
