/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "./colors.scss";
@import "./buttons.scss";
@import "./animations.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .page-content {
    flex: 1;
  }
}

.container {
  .row {
    max-width: 100%;
    margin: 0;
  }
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  color: $font-color;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;

  * {
    &::selection {
      background: $accent-color;
      color: #fff;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
  font-display: auto;
  color: #353535;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 0;
}

a {
  &.no-color {
    color: $font-color;
  }
}

input,
textarea {
  margin: 10px;
  width: 100%;
  min-height: 40px;
  padding: 15px;
  box-sizing: border-box;

  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
}

.space-30 {
  min-height: 30px;
}

.space-50 {
  min-height: 50px;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

.center {
  text-align: center;
}

.no-margin {
  margin: 0;
}

.no-padding {
  padding: 0;
}
