<div class="container no-margin no-padding">
  <div class="row no-margin no-padding">
    <div class="col-12">
      <h1>Skontaktuj się z nami</h1>
    </div>
  </div>
  <form class="container" (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="row">
      <div class="col-12 col-md-6">
        <input type="tel" placeholder="numer telefonu" [(ngModel)]="form.phone" name="phone" required />
      </div>
      <div class="col-12 col-md-6">
        <input type="email" placeholder="adres email" [(ngModel)]="form.email" name="email" required />
      </div>
      <div class="col-12">
        <textarea placeholder="wiadomość" rows="6" [(ngModel)]="form.message" name="message" required></textarea>
      </div>
    </div>
    <div class="row no-margin no-padding">
      <div class="col-12 no-margin no-padding">
        <button type="submit" class='btn btn-primary btn-large' [disabled]="!contactForm.form.valid">Wyślij</button>
      </div>
    </div>
  </form>
</div>