<div class="container distance">
  <input name="city" placeholder="Miejscowość lub kod pocztowy" ngModel (ngModelChange)='changed($event)'>


  <h3>{{distance}}</h3>

  <div class="row delivery-boxes">
    <div *ngFor="let threshold of distanceThresholds"
      class="one-of-five {{threshold === selectedDistanceThreshold ? 'selected' : ''}}">
      <div class="top"></div>
      <h3 class="price">{{threshold.price}}zł</h3>
      <p class="distance-threnshold">{{threshold.from}} - {{threshold.to}}</p>
    </div>
  </div>

</div>
