@import '../../../../colors.scss';

.distance {
  text-align: center;

  input {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    height: 50px;
    font-size: 40px;
    font-family: "Advent Pro";
  }
.delivery-boxes {
  display:flex;
  align-items: center;

  .one-of-five {
    width: 20%;
    border: 1px solid #eee;

    .top {
      height:50px;
      background: #111;
    }

    .price {
      display:grid;
      align-items: center;
      height:50px;
      background: $accent-green;
      color: #fff;
      font-size: 30px;
      font-family: "Advent Pro";
    }

    .distance-threnshold {
      height: 100px;
    }

    &.selected {
      box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.4);

      .price {
        height: 70px;
        font-weight: 700;
      }
    }
  }
}
}
